//
.index-header{
  position: relative;
  background: #fff;
  z-index: 304;
  display: flex;
  padding:12px 23px 15px 23px;box-sizing: border-box;
    .app-logo{
      width:136px;height:65px;
      img{
        width:100%;height:100%;
     }
  }
  .search-medicine{
    display: flex;
    flex-grow:1;
    position:relative;height:70px;line-height: 70px;margin-left: 16px;
    input{
      width:100%;
     border:1px solid #b6b1b0;border-right:0;
      height:70px;
      background: #fff url(../images/search_logo.png) no-repeat 15px 16px; background-size: 30px 30px;
     font-size: 28px;
      border-radius:5px 0 0 5px;color:#808080;border-right:none;

      box-sizing:border-box;padding-left: 60px;
    }
    .searchButton{
        font-size:26px;
        width:100px;
        text-align: center;
        height: 70px;line-height:70px;border-top-right-radius: 10px;border-bottom-right-radius:10px;
        border: 0;background-color: #026ddb;color:#fff;font-weight:bold;
    }
  }


}

.search_list{
  padding:5px 10px;background: #fff;width:100%;height:400px;overflow:scroll;
  li{
    margin-bottom: 20px;
    a{
      display: block;color:#666;
      p{
        line-height: 35px
      }
      p:nth-of-type(2){color:#999}
    }
  }
}


.search_list{
  padding:5px 10px;background: #fff;width:100%;height:4rem;overflow:scroll;
  li{
    margin-bottom: 20px;
    a{
      display: block;color:#666;
      p{
        line-height: 35px
      }
      p:nth-of-type(2){color:#999}
    }
  }
}


